.button {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    padding: 0 20px 0 20px;
    font-size: 1.2em;
    background-color: $button_background_color;
    overflow: hidden;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid $button_background_color;
    color: $text_color;
    text-decoration: auto;
    text-align: center;
    fill: $text_color;

    &:hover {
        color: $button_hover_color;
        fill: $button_hover_color;
        border: 1px solid $button_hover_border_color;
        box-shadow: 0 0 10px 0 $button_hover_border_color;
    }

    &--iconmenu {
        font-size: 0.8em;
        height: 50px;
        fill: $text_color;
        border: none;
        line-height: 50px;

        &:hover {
            background-color: $button_hover_color;
            border: none;
            fill: $text_color;
            color: $text_color
        }
    }
}

h1 {
    a {
        color: $text_color;
        text-decoration: none;
    }
}

.edit_button {
    gap: 5px;
    float: right;
}