.bloc_border {
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    padding-bottom: 50px;
}

.bloc_ticket_title {
    p {
        margin: 0;
    }
}

.datetime {
    float: right;
}

.critique_button {
    float: right;
}

.image {
    max-width: 300px;
}