.top_bar {
    background-color: $background_color_second;
    height: 50px;
    line-height: 50px;

    h1 {
        margin: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: 1000px) {
            text-align: left;
        }
    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.content {
    margin: 20px auto;
    max-width: 800px;

    .critique_nav {
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    }
}



body {
    font-family: 'Ubuntu', sans-serif;
    top: 0px;
    margin: 0;
    background-color: $background_color_main;
    color: $text_color;
}



.row {
    display: flex;
    gap: 5px;
    margin: 5px 0 5px 0;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}