{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="top_bar">
        <h1>LITReview</h1>
    </div>
    <div class="login_content">
        <div class="registration">
            <div class="row center">
                <h3 class="">Inscrivez-vous maintenant</h3>
            </div>
            <div class="row center"><a class="button" href="{% url 'signup' %}">S'inscrire</a></div>
        </div>
        <div class="login_form">
            <h3>Connexion</h3>

            <form class="form form--multicolumn" method="post">
                {% csrf_token %}
                <div class="row">
                    <div>{{ form.username }}{{ form.username.label_tag }}</div>
                    <div>{{ form.password }}{{ form.password.label_tag }}</div>
                </div>
                <div class="row center">
                    <button class="button" type="submit">connexion</button>
                </div>
            </form>
        </div>
    </div>
</body>