{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center">
    <h2>Supression d'une critique</h2>
</div>
<div>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Etes vous sur de vouloir suprimer la critique suivant ?</p>
        <p>Titre : {{ review.headline }}</p>
        <div class="row right">
            <input type="submit" value="{{ submit_text }}" class="button">
        </div>
    </form>
</div>
{% endblock content %}