{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for ticket in tickets %}

<!-- Bloc Critique plus ticket -->
{% if ticket.0 != 0 %}
<div class="bloc_border">
    <p class="datetime">{{ ticket.0.time_created }}</p>
    {% if user == ticket.0.user %}
    <h4>Vous avez publier une critique</h4>
    {% else %}
    <h4>{{ ticket.0.user }} a publier une critique</h4>
    {% endif %}
    <h4>{{ ticket.0.headline }} -
        {% if ticket.0.rating == 1 %}
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        {% elif ticket.0.rating == 2 %}
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        {% elif ticket.0.rating == 3 %}
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        {% elif ticket.0.rating == 4 %}
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileN.png" alt="image"></img>
        {% elif ticket.0.rating == 5 %}
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        <img class="etoile" src="/media/etoileJ.png" alt="image"></img>
        {% endif %}
    </h4>
    <p>{{ ticket.0.body }}</p>
    <div class="bloc_border">
        <div class="bloc_ticket_title">
            <p class="datetime">{{ ticket.1.time_created }}</p>
            <p>{{ ticket.1.user }} a demandé une critique</p>
        </div>
        <div>
            <p>{{ ticket.1.title }}</p>
        </div>
        <div>
            <p>{{ ticket.1.description }}</p>
        </div>
        {% if ticket.1.image %}
        <div>
            <img class="image" src="{{ ticket.1.image.url }}" alt="image"></img>
        </div>
        {% endif %}
    </div>
    <div class="edit_button">
        <a class="button" href="{% url 'update_review' pk=ticket.0.id %}">Modifier</a>
        <a class="button" href="{% url 'delete_review' pk=ticket.0.id %}">Suprimer</a>
    </div>
</div>
{% if user == ticket.1.user %}
<div class="bloc_border">
    <div class="bloc_ticket_title">
        <p class="datetime">{{ ticket.1.time_created }}</p>
        <p>{{ ticket.1.user }} a demandé une critique</p>
    </div>
    <div>
        <p>{{ ticket.1.title }}</p>
    </div>
    <div>
        <p>{{ ticket.1.description }}</p>
    </div>
    {% if ticket.1.image %}
    <div>
        <img class="image" src="{{ ticket.1.image.url }}" alt="image"></img>
    </div>
    {% endif %}
    <div class="edit_button">
        <a class="button" href="{% url 'update_ticket' pk=ticket.1.id %}">Modifier</a>
        <a class="button" href="{% url 'delete_ticket' pk=ticket.1.id %}">Suprimer</a>
    </div>
</div>
{% endif %}

<!-- Bloc ticket seul -->
{% else %}
<div class="bloc_border">
    <div class="bloc_ticket_title">
        <p class="datetime">{{ ticket.1.time_created }}</p>
        <p>{{ ticket.1.user }} a demandé une critique</p>
    </div>
    <div>
        <p>{{ ticket.1.title }}</p>
    </div>
    <div>
        <p>{{ ticket.1.description }}</p>
    </div>
    {% if ticket.1.image %}
    <div>
        <img class="image" src="{{ ticket.1.image.url }}" alt="image"></img>
    </div>
    {% endif %}
    <div class="edit_button">
        <a class="button" href="{% url 'update_ticket' pk=ticket.1.id %}">Modifier</a>
        <a class="button" href="{% url 'delete_ticket' pk=ticket.1.id %}">Suprimer</a>
    </div>
</div>
{% endif %}

{% endfor %}


{% endblock content %}