{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center">
    <h2>Créer une critique</h2>
</div>
<div class="bloc_border">
    <h3>Vous êtes en train de poster en réponse à</h3>
    <div class="bloc_border">
        <div class="bloc_ticket_title">
            <p class="datetime">{{ ticket.time_created }}</p>
            <p>{{ ticket.user }} a demandé une critique</p>
        </div>
        <div>
            <p>{{ ticket.title }}</p>
        </div>
        <div>
            <p>{{ ticket.description }}</p>
        </div>
        <div>
            <img class="image" src="/media/{{ ticket.image }}" alt="image"></img>
        </div>
    </div>
</div>

<div class="bloc_border">
    <h3>Critique</h3>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {{ form.headline }}{{ form.headline.label_tag }}
        </div>
        <div class="row">
            {{ form.rating.label_tag }}{{ form.rating }}
        </div>
        <div class="row">
            {{ form.body }}{{ form.body.label_tag }}
        </div>
        <div class="row right">
            <input type="submit" value="Envoyer" class="button">
        </div>
    </form>
</div>
{% endblock content %}