{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center">
    <h2>Créer un ticket</h2>
</div>
<div>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {{ form.title }}{{ form.title.label_tag }}
        </div>
        <div class="row">
            {{ form.description }}{{ form.description.label_tag }}
        </div>
        <div class="row">
            {{ form.image }}{{ form.image.label_tag }}
        </div>
        <div class="row right">
            <input type="submit" value="Envoyer" class="button">
        </div>
    </form>
</div>
{% endblock content %}