{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center">
    <h2>Suivre d'autres utilisateur</h2>
</div>


<form class="form" method="post">
    {% csrf_token %}
    <div class="row">
        {{ form.followed_user }}{{ form.followed_user.label_tag }}{{ form.error.followed_user }}
    </div>
    <div class="row center"><input type="submit" value="Envoyer" class="button"></div>

</form>



<div class="row center">
    <h2>Abonnements</h2>
</div>
<div class="table_container">
    <table class="table_style">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Désabonnement</th>
            </tr>
        </thead>
        <tbody>
            {% for user in followed_user %}
            <tr>
                <td class="full">
                    {{ user.followed_user }}
                </td>
                <td class="align_center">
                    <a href="/Ticket/unsubscribe/{{ user.followed_user.id }}/">X</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="row center">
    <h2>Abonnés</h2>
</div>
<div class="table_container">
    <table class="table_style">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for user in follow_me %}
            <tr>
                <td>
                    {{ user.user }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}