{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}

    {% block addjs %}
    {% endblock addjs %}
</head>

<body>
    <div class="top_bar">
        <div></div>
        <h1 class="main_title"><a href="{% url 'index' %}">LITReview</a></h1>
        <div class="nav">
            <a class="button button--iconmenu" href="{% url 'index' %}">Flux</a>
            <a class="button button--iconmenu" href="{% url 'posts' %}">Posts</a>
            <a class="button button--iconmenu" href="{% url 'subscribe' %}">Abonnements</a>
            <a class="button button--iconmenu" href="{% url 'logout' %}">Se déconnecter</a>
        </div>
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
</body>